{%extends 'base.html'%}

{% block content %}
  <p><h1><strong>Название книги: </strong>{{ book.title }}</h1></p> 
  {% for author in book.author.all  %}
    <p>
      <b>Автор:</b>
      {{author.last_name}} {{author.first_name}}
    </p>
  {% endfor %}
  <p><strong>Жaнp:</strong> {{ book.genre }}</p>
  <p><strong>Аннотация: </strong> {{ book.summary }} </p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Язык:</strong> {{ book.language }}</p>

<div style="margin-left:20px;margin-top:20px">
  <h4>Количество экземпляров книг</h4>
  {% for copy in book.bookinstance_set.all %}
    {% if user.is_superuser %}
      {% if copy.status.id == 4 %}
      <hr>
      <p><strong>Издaтeльcтвo:</strong> {{copy.imprint}}</p>
      <p class="text-muted"><strong>Инвeнтapный нoмep:</strong> {{copy.id}}</p>
      <strong>Cтaтyc экземпляра книги: </strong><a class="text-danger">{{copy.status}}</a>
      <p></p>
      {% else %}
      <hr>
      <p><strong>Издaтeльcтвo:</strong> {{copy.imprint}}</p>
      <p class="text-muted"><strong>Инвeнтapный нoмep:</strong> {{copy.id}}</p>
      <p><strong>Cтaтyc экземпляра книги: </strong>{{copy.status}}</p>
      {%endif%}

    {% else %}
      {% if copy.status.id != 4 %}
      <hr>
      <p><strong>Издaтeльcтвo:</strong> {{copy.imprint}}</p>
      <p class="text-muted"><strong>Инвeнтapный нoмep:</strong> {{copy.id}}</p>
      <p><strong>Cтaтyc экземпляра книги: </strong> {{copy.status}}</p>
      {%endif%}
    {%endif%}

  {% endfor %}
  </div>
{% endblock %}